<header>
    <a href="/">
        <div id="meliesLogo"><img id="meliesIcon" src="/images/melies.png" alt="" srcset="">MELIES</div>
    </a>
    <div id="searchModule">
        <form id="searchForm" action="/search" method="get" autocomplete="off">
            <input type="search" name="q" placeholder="Search film..." id="userInput">
            <button id="searchButton">Search now</button>
        </form>
        <span class="material-icons searchIcon">
            search
        </span>
    </div>
    <div id="userButtons">
        <a href="#" id="loginButton" class="button">Login</a>
        <a href="#" id="signupButton" class="button">Sign up</a>
      </div>
</header>