<body>
<header>
    <a href="/" id="meliesLogo"><img id="meliesIcon" src="/images/melies.png" alt="" srcset="">MELIES</a>
    <div id="searchModule">
        <form id="searchForm" action="/film/search" method="get" autocomplete="off">
            <input type="search" name="q" placeholder="Search film..." id="userInput" required>
            <button id="searchButton">Search now</button>
        </form>
        <span class="material-icons searchIcon">
            search
        </span>
    </div>
    <div id="userButtons">
        <% if (!currentUser) { %>
            <a href="/login" id="loginButton" class="button">Login</a>
            <a href="/signup" id="signupButton" class="button">Sign up</a>
        <% } else { %>
            <a href="/logout" id="loginButton" class="button">Logout</a>
        <% } %>
      </div>
</header>
<%- include('flash') %>