<div class="scroller">
    <div class="nextArrow leftScroll">
        <span class="material-icons-round">chevron_left</span>
    </div>
    <section class="wrapper">
        <%- include('filmComponent') %>  
    </section>
    <div class="nextArrow rightScroll">
        <span class="material-icons-round">chevron_right</span>
    </div>
</div>