<div class="ratingWrapper">
    <h2 class="ratingTitle">Your rating</h2>
    <% scoreData.forEach(element => { %>
        <a data-rating="<%= element._id %>" data-symbol="<%= element.symbol %>" class="ratingComponent">
            <span class="ratingIcon"><%= element.symbol %></span>
            <p class="ratingName"><%= element.name %></p>
        </a>
    <% }) %>
</div>