<%- include('partials/head') %> 
<%- include('partials/header') %> 

<main>
    <h1 class="centerTitle">Your Watchlist</h1>
    <%- include('components/resultsWrapper', {filmCategory: watchlist, order: "reverse"}) %>
</main>


<%- include('partials/footer') %> 