/* ############ */
/* CSS RESET */
/* ############ */

html,
body,
div,
span,
applet,
object,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ############ */
/* GENERAL STYLE */
/* ############ */
html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

body {
  font-family: "Poppins", sans-serif;
  color: rgba(255, 255, 255, 0.863);
  /* background-color: #1f1e2b; */
  background-color: #16161b;
  /* background-color: #000000;
  background-image: linear-gradient(309deg, #000000 0%, #263646 74%); */
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  z-index: 2;
  width: 90%;
  max-width: 1050px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

h1 {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
}

p {
  font-size: 15px;
  line-height: 150%;
}

p span {
  font-weight: 600;
}

/* ############ */
/* SITEWIDE */
/* ############ */

.listWrapper {
  height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.listComponent {
  width: 100%;
  height: 100px;
  border: 2px solid #ffffff21;
  padding: 15px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.listColor {
  min-width: 50px;
  min-height: 50px;
  border-radius: 50px;
  margin-right: 15px;
  position: relative;
}

.overlay {
  position: fixed;
  height: 110%;
  width: 100%;
  background: #000000e6;
  background-size: cover;
  z-index: 999;
  transition: background 0.25s ease-in-out;
  transition-delay: 500ms;
  animation: fadein;
  animation-duration: 1s;
  visibility: hidden;
}

.iconMargin {
  margin-right: 5px;
}

#cancelButton {
  background-color: #16161b;
}

.sectionTitle {
  font-size: 30px;
  font-weight: 600;
}

.centerTitle {
  align-self: center;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 40px;
}

.smallFilmComponent {
  max-width: 200px;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  text-align: center;
  margin-right: 25px;
  position: relative;
}

.smallFilmPoster {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 30px;
  margin-bottom: 40px;
  will-change: transform;
  transition: 0.2s ease-in-out;
}

.smallFilmPoster:hover {
  transform: scale(0.98);
  /* transform: translateY(-5px); */
}

.filmBackdropComponent {
  position: relative;
  margin-right: 25px;
}

.filmBackdropImage {
  width: 450px;
  border-radius: 20px;
  filter: brightness(70%);
}

.filmBackdropText {
  font-size: 25px;
  position: absolute;
  bottom: 40px;
  left: 20px;
  margin-right: 20px;
  z-index: 5;
  text-shadow: 0px 4px 20px #0000005c;
}

.buttonsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  width: 100%;
}

.formButtonsWrapper {
  align-self: flex-end;
  width: 60%;
}

.smallButtonsWrapper {
  position: absolute;
  top: 280px;
}

.button {
  width: 100%;
  height: 50px;
  background-color: #252936;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.863);
  text-decoration: none;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.mainButton {
  width: 100%;
  height: 50px;
  background-color: #fee97d;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #16161b;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.roundButton {
  height: 60px;
  width: 60px;
  margin: 0px 7.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 100px;
  background: #252a36;
  box-shadow: #0a0a0a 0px 0px 20px 0px;
  color: #f2f2f2;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  will-change: transform;
}

.roundButton:hover {
  transform: scale(1.05);
}

.smallRoundButton {
  width: 50px;
  height: 50px;
}

.ratingButton {
  font-size: 24px;
}

.deleteForm {
  position: absolute;
  top: 10px;
  right: 5px;
}

.deleteButton {
  background-color: #1a1a1a7d;
  width: 40px;
  height: 40px;
  box-shadow: none;
}

.deleteButton:hover {
  background-color: #da4167;
}

.deleteButton span {
  font-size: 20px;
}

.ratingWrapper {
  display: none;
  z-index: 2;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
  height: 60px;
  position: absolute;
  bottom: 70px;
  background: #252936;
  box-shadow: #0a0a0a 0px 0px 10px 3px;
  border-radius: 100px;
  transition: 0.2s ease-in-out;
  animation: mover 0.25s forwards, scaler 0.25s forwards;
}

.smallRatingWrapper {
  flex-direction: column;
  height: 50px;
  width: 50px;
  right: 103px;
  bottom: 60px;
  animation: heighter 0.25s forwards;
}

.ratingComponent {
  font-size: 30px;
  cursor: pointer;
}

.smallratingComponent {
  font-size: 24px;
  animation: scaler 0.5s;
}

.ratingComponent:hover {
  transform: scale(1.2);
}

.ratingComponent:hover .tooltiptext {
  visibility: visible;
}

.tooltiptext {
  visibility: hidden;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.904);
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;
  position: absolute;
  bottom: 40px;
  z-index: 3;
}

.smallTooltiptext {
  bottom: 20px;
  left: 30px;
}

.userRating {
  font-size: 24px;
  animation: mover 0.25s forwards, scaler 0.25s forwards;
}

.detailsComponent {
  padding: 0px 25px;
  min-height: 50px;
  border: solid 2px rgba(255, 255, 255, 0.384);
  border-radius: 15px;
  margin-right: 15px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailsComponent span {
  margin-right: 5px;
}

.detailsColor {
  background-color: ;
}

.star {
  color: #fee97d;
  margin-right: 5px;
}

.pageWrapper {
  width: 250px;
  display: flex;
  justify-content: space-evenly;
  align-self: center;
}

.pageButton {
  width: 100px;
}

.collectionWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.collectionComponent {
  height: 250px;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  cursor: pointer;
}

.collectionComponent h2 {
  text-align: center;
  font-size: 20px;
  z-index: 5;
  font-weight: 700;
  text-shadow: 0px 4px 20px #0000005c;
  margin-bottom: 10px;
}

.collectionComponent p {
  text-align: center;
  font-size: 16px;
  z-index: 5;
  font-weight: 500;
  text-shadow: 0px 4px 20px #0000005c;
}

.collectionImage {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
  filter: grayscale() brightness(0.8);
  opacity: 50%;
}

.formLabel {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}

.collectionForm {
  z-index: 9999;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 60px;
  background: #16161b;
  border-radius: 20px;
  margin: 20px 0px;
  position: fixed;
  top: 20px;
  box-shadow: #0a0a0a 0px 0px 20px 0px;
  visibility: hidden;
}

.collectionForm input,
.collectionForm textarea {
  font-family: "Poppins", sans-serif;
  background: #16161b;
  border: 2px solid #ffffff21;
  padding: 15px;
  color: #e1e2e3;
  outline: none;
  border-radius: 10px;
  resize: vertical;
  margin-bottom: 25px;
}

.collectionForm input#color {
  padding: 10px;
  width: 80px;
  height: 54px;
}

.collectionForm input::placeholder,
.collectionForm textarea::placeholder {
  color: #ffffffa9;
}

/* ############ */
/* HEADER */
/* ############ */

header {
  z-index: 2;
  margin: 20px 0px 40px 0px;
  width: 90%;
  max-width: 1050px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#meliesLogo {
  display: flex;
  align-items: center;
  font-size: 36px;
  font-family: "Bungee", cursive;
}

#meliesIcon {
  height: 40px;
  margin-right: 10px;
}

#moon {
  margin-left: 5px;
  color: rgb(254, 233, 125);
  color: linear-gradient(
    146deg,
    rgba(254, 233, 125, 1) 0%,
    rgba(254, 223, 48, 1) 100%
  );
  font-size: 32px;
}

#searchModule {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 40%;
  height: 40px;
  background: #252936;
  border-radius: 40px;
  padding-left: 10px;
  margin: 0px 15px;
}

#searchButton {
  display: none;
}

#searchForm {
  width: 90%;
}

#userInput {
  width: 100%;
  margin-left: 5px;
  background-color: #252936;
  color: rgba(255, 255, 255, 0.87);
  border: none;
  font-size: 16px;
}

#userInput:focus {
  border: none;
  outline: none;
}

#userInput::placeholder {
  color: rgba(255, 255, 255, 0.411);
  font-family: "Poppins", sans-serif;
  transition: 0.25s ease-in-out;
}

#searchIcon {
  margin-right: 10px;
}

#userButtons {
  display: flex;
  flex-direction: row;
}

#loginButton {
  min-width: 100px;
  height: 40px;
  margin-right: 15px;
}

#signupButton {
  min-width: 100px;
  height: 40px;
  background-color: #fee97d;
  color: #252936;
}

/* ############ */
/* HOME PAGE */
/* ############ */

#homeTitle {
  margin-top: 30px;
  margin-bottom: 50px;
}

/* #appsWrapper {
  justify-content: space-between;
} */

.appButton {
  min-width: 250px;
  max-width: 250px;
  height: 300px;
  background-color: #fee97d;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  margin-right: 25px;
  text-align: center;
}

#georgesButton {
  background: #fee97d;
  color: #202231;
}

#collectionsButton {
  background: #da4167;
  color: #f2f2f2;
}

#randomButton {
  background: #38aecc;
  color: #f2f2f2;
}

#swiperButton {
  background: #32bb55;
  color: #f2f2f2;
}

.bigIcon {
  font-size: 100px;
  margin-bottom: 10px;
}

.appTitle {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.appDescription {
  font-size: 16px;
}

/* ############ */
/* FILM PAGE */
/* ############ */

#filmWrapper {
  z-index: 5;
  width: 90%;
  max-width: 1050px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

#leftCard {
  width: 33%;
  min-width: 250px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  margin-right: clamp(15px, 5%, 50px);
}

.filmPoster {
  width: 100%;
  border-radius: 30px;
  margin-bottom: 25px;
}

#anotherButton {
  background-color: #fee97d;
  color: #252936;
  position: absolute;
  top: -10px;
  right: -20px;
  width: 50px;
  height: 50px;
}

#rightCard {
  max-width: 750px;
  width: max(66%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.watchComponent {
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
  box-shadow: rgb(17 17 26 / 10%) 0px 0px 16px;
}

.creditsComponent {
  min-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin-right: 25px;
}

.creditsImage {
  max-width: 150px;
  height: 225px;
  margin-bottom: 15px;
  border-radius: 20px;
}

.creditsName {
  font-weight: 600;
  margin-bottom: 5px;
}

.videoWrapper {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-bottom: 40px;
}

.videoComponent {
  height: 300px;
  display: inline-block;
  margin-right: 25px;
  border-radius: 20px;
  aspect-ratio: 16/9;
}

#background {
  position: fixed;
  height: 110%;
  width: 100%;
  background: #202231;
  background-size: cover;
  filter: blur(10px) brightness(25%);
  z-index: 1;
  transition: background 0.25s ease-in-out;
  transition-delay: 500ms;
  animation: fadein;
  animation-duration: 1s;
}

/* ############ */
/* SEARCH PAGE */
/* ############ */

#resultsWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 40px;
  justify-items: center;
}

.resultsComponent {
  margin: 0px;
  width: auto;
}

.searchPoster {
  width: 100%;
  height: 300px;
  transition: 0.25s ease-in-out;
}

.searchPoster:hover {
  transform: scale(1.03);
}

.searchTitle {
  font-size: 16px;
  line-height: 140%;
  text-align: center;
}

/* ############ */
/* FOOTER */
/* ############ */

footer {
  z-index: 2;
  padding: 40px;
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1b1b20;
  /* position: absolute;
  bottom: 0; */
}

/* ############ */
/* MEDIA QUERIES */
/* ############ */

@media only screen and (max-width: 900px) {
  #resultsWrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  header {
    justify-content: center;
  }

  #searchModule {
    display: none;
  }

  #userButtons {
    display: none;
  }

  #filmWrapper {
    flex-direction: column;
    align-items: center;
  }

  #leftCard {
    aspect-ratio: none;
    position: relative;
    width: 80%;
    margin: 0px 0px 25px 0px;
  }

  #rightCard {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  #resultsWrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 500px) {
  #resultsWrapper {
    grid-template-columns: 1fr;
  }
}

/* ############ */
/* FLEX CLASSES */
/* ############ */

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.spaceBetween {
  justify-content: space-between;
}

.spaceEvenly {
  justify-content: space-evenly;
}

.flexStart {
  justify-content: flex-start;
}

.flexEnd {
  justify-content: flex-end;
}

/* ############ */
/* JS TOGGLES */
/* ############ */

.visible {
  visibility: visible;
}

.favorite {
  color: #5cf17a;
}

.selected {
  border: 2px solid #fde97d9c;
  /* transition: 0.4s; */
}

.openModal {
  overflow: hidden;
}

/* ############ */
/* ANIMATIONS */
/* ############ */

@keyframes mover {
  0% {
    transform: translateY(10px);
  }

  70% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes opaciter {
  0% {
    opacity: 0%;
  }
  100% {
    transform: 100%;
  }
}

@keyframes scaler {
  0% {
    transform: scale(0.2);
  }

  80% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes rotater {
  0% {
    transform: rotate(0deg);
  }

  80% {
    transform: rotate(400deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes heighter {
  0% {
    height: 0%;
    opacity: 0;
  }

  80% {
    height: 280px;
    opacity: 1;
  }

  100% {
    height: 250px;
  }
}
